<html>

<head>
    <title>EJS Tags</title>
</head>

<body>
    <% var name='myName' %>
        <p> MY name is <%= name %></p>
        <p> MY name is <%% name %></p>
        <p> MY name is <%# name %></p>
        <% name = '<p> myName </p>' %>
        <p> MY new name is <%-  name  %>
        


</body>

</html>
